body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: rgb(48, 48, 48);
    padding: 35px 12%;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

span{
    color: orangered;
    font-size: 30px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background-color: blanchedalmond;
    padding: 60px 20px;
    text-align: center;
    font-size: 30px;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.profile-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    padding: 60px 20px;
    text-align: center;
}

#skills .skills-container,
#projects .projects-container,
#blog .blog-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill{
    background-color: beige;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: calc(33% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project, .blog-post{
    background-color: whitesmoke;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: calc(33% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    background-color: orangered;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgba(15, 14, 13, 0.799);
}
